* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}

:root {
  /* 
    rgb(84,230,175) 
    rgb(44,52,75)
    rgb(18,23,37)
    rgb(255,255,255)
    rgb(90,102,138)
    rgb(194,203,229)
  */

  --primary-color: 84,230,175;
  --secondary-color: 44,52,75;
  --seconday-color-light: 90,102,138;
  --background-color: 18,23,37;
  --white-color: 255,255,255;
  --gray-light: 194,203,229;

  --font-size: 20px;
}

body {
  height: 100vh;
  padding: 6% 0 6% 12%;
  color: rgb(var(--gray-light));
  background-color: rgb(var(--background-color));
}

p {
  font-size: var(--font-size);
}

.title {
  font-size: 52px;
  text-transform: uppercase;
}

.btn {
  font-weight: 700;
  padding: 0.8rem  1.6rem;
  border-radius: 100px 100px;
  border: none;
  color: black;
  cursor: pointer;
  transition: .002s;
  margin: 5px;
  white-space: nowrap;
  background-color: rgb(var(--primary-color));
}

.btn-primary {
  position: absolute;
  right: 0;
  top: 0;
}

.btn-primary:hover {
  background-color: rgb(155, 219, 195);
}

.form {
  position: relative;
  width: min-content;
  margin-bottom: 50px;
}

.form input {
  width: 400px;
  background-color: rgb(var(--secondary-color));
  padding: 1.1rem  2.2rem;
  border: none;
  border-radius: 100px;
  color: rgb(var(--white-color));
}

.form input::placeholder {
  color:rgb(var(--gray-light));
}

.form input:focus {
  outline: none;
}

.form__email-error {
  display: block;
  position: absolute;
  left: 35px;
  bottom: -20px;
  color: red;
  font-size: 12px;
}


.container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(5, 20%);
  grid-template-columns: repeat(3, 33%);
}

.container .logo {
}

.container article {
  background-color: rgb(var(--background-color));
  grid-area: 2 / 1 / 6 / 3;
  margin-right: 10%;
  padding: 10% 10% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-color-text {
  color: rgb(var(--primary-color));
}

.container article p {
  margin: 2% 30% 2% 0;
}

.logos {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: .6;
}


.container__background {
  min-height:100%;
  background:linear-gradient(0deg, rgba(var(--primary-color), .1), rgba(var(--primary-color), .1)), url(assets/desktop/image-host.jpg);
  background-size:cover;
  grid-area: 1 / 2 / 6 / 5;
  z-index: -1;
}

.container__dots {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
}